

.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 75px 150px 150px 150px 75px;
  grid-gap: 1em;
}

header {
  grid-column: 1 / 4;
  gap: 5px;
  background-color: #38444c;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
    grid-column: 1 / 4;
    gap: 5px;
    background-color: #38444c;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  margin-top: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  background-color: #38444c;
}

aside {
  background-color: #38444c;
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 25vh;*/
}

article {
    background-color: #38444c;
    display: inline-flex;
        /*height: 25vh;*/
  }

