.body{
    background-color: #082032;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* cards */

.card-body{
    background-color: #2C394B;
    
}

.btn-darkcustom{
    color:  #334756;
}
.card-title{
    color:  #FF4C29;
}

.card-text{
    color: white;
}

.card-footer {
    background: transparent;
    border-top: 0px;
  }


